extends ../layouts/frontend

block content
	div(ng-controller="FrontendController")



		section.intro.full-height-panel(ng-show="sections.intro.show")
			div.inner
				h1 yin to your yang

				div.logo
					img(src="/images/yinyanglogo.png")
				
				p On the web we live in a bubble <br>closed off from political views <br>different from our own. 
				p In terms of Facebook news, <br><strong>what is the yin to your yang?</strong>
				
				div.loading(ng-hide="dataState.prompts.loaded")
					md-progress-circular.md-accent.md-hue-1(md-diameter="30")
				
				div.cta(ng-show="dataState.prompts.loaded")
					md-button.md-raised.md-primary(
						ng-click="scrollToViewpoints()"
					) Find out now



		section.viewpoints#viewpoints(ng-show="sections.viewpoints.show")
			div.inner
				
				h2(
					ng-hide="sections.viewpoints.currentIndex == viewpoints.all.length"
					) Agree or disagree?

				div(
					ng-repeat="(i, viewpoint) in viewpoints.all"
					ng-show=" sections.viewpoints.currentIndex == i "
					)
					div.viewpoint
						h3 {{ viewpoint.title }}
					div.controls
						md-button.md-raised.md-primary(
							ng-click="saveViewpointPosition(i, viewpoint.id, true)"
						) Agree
						md-button.md-raised.md-warn(
							ng-click="saveViewpointPosition(i, viewpoint.id, false)"
						) Disagree

				


		section#parties.parties(ng-show="sections.parties.show")
			div.inner
				h2 With which UK political party are your views most closely aligned?
				div(ng-repeat="party in parties.all")
					md-button(ng-click="selectParty(party)") {{party.name}}


		section.feed-loading#feed-loading(ng-show="sections.feedLoading.show")
			div.inner
				div.loading()
					md-progress-circular.md-accent.md-hue-1(md-diameter="80")

					p Loading your yin and yang, yo
					

				//- //- md-button.md-raised.md-primary.md-block(
				//- 		ng-show="dataState.feed.loaded"
				//- 		ng-click="scrollToFeed()"
				//- 	) See my evil twin's feed
				

		section.feed#feed(ng-show="sections.feed.show")
			div.inner(ng-if="dataState.feed.loaded")
				h2 The Yang
				div.feed-stories#feed-stories
					div.feed-story(ng-repeat="story in feed.stories")


						fb-post-preview(
							width="500"
							story="story"
						)

		section.sign-up#sign-up(ng-show="sections.signUp.show")
			div.inner(ng-if="sections.signUp.show")
				h2 Want more?
				
				p Once a week, we will keep you up to date with your opposite's point of view.

				p There are other ways access a range of viewpoints...

				div.cta
					md-button.md-raised.md-primary(
						href="http://eepurl.com/crF-h1"
					) Find out more



