md-sidenav.md-sidenav-right(
	md-component-id="right"
	md-is-locked-open="false"
	md-whiteframe="4"
)

	md-toolbar.md-theme-indigo
		h1.md-toolbar-tools 
			span(ng-hide="selectedStory.id") Create Story
			span(ng-show="selectedStory.id") Edit Story: {{selectedStory.title}}
	
	md-content(layout-padding)

		div(ng-form="storyForm")

			md-input-container.md-block
				label Story Title (used internally)
				input(
					required
					ng-model="selectedStory.title"
				)

			md-input-container.md-block
				label Facebook Post URL
				input(
					required
					type="url"
					name="url"
					ng-model="selectedStory.url"
				)
				h6 eg. https://www.facebook.com/5883973269/posts/10154749771023270

			md-input-container.md-block
				label Viewpoint (cannot change)
				input(
					ng-disabled="true"
					ng-model="selectedViewpoint.title"
				)


			md-checkbox(ng-model="selectedStory.agree") Story agrees with the viewpoint?

			div(ng-if="storyForm.url.$valid")
				fb-post-preview(
					width="250"
					story="selectedStory"
				)

			md-button.md-block.md-raised.md-warn(
				ng-show="selectedStory.id"
				ng-click="deleteSelectedStory()"
			) Delete Story
			
			md-button.md-block.md-raised.md-accent(
				ng-disabled="storyForm.$invalid"
				ng-click="saveSelectedStory()"
			) Save Story

			